# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk........................

# Rapidapi, Hotels API
NEXT_PUBLIC_RAPIDAPI_KEY=key_goes_here

# Node Environment
NODE_ENV = "development"

NEXT_PUBLIC_API_KEY_HEADER=x-api-key
NEXT_PUBLIC_API_SECRET_KEY=xxx_..........

# Firebase client
FIREBASE_CLIENT_API_KEY=AIzaS..................
FIREBASE_CLIENT_AUTH_DOMAIN=............firebaseapp.com
FIREBASE_CLIENT_PROJECT_ID=......-...
FIREBASE_CLIENT_STORAGE_BUCKET=....-....appspot.com
FIREBASE_CLIENT_MESSAGING_SENDER_ID=1:892462548133:web:......
FIREBASE_CLIENT_APP_ID=G-......
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:3000

#NEXTAUTH_URL=http://localhost:3000/api/auth

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=5aTU2ZBMSknkTlFAagj47.....................
# NEXTAUTH_URL=http://127.0.0.1:3000/api/auth
NEXTAUTH_URL=http://127.0.0.1:3000

NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_API_BASE_URL=/api
# In production, relative '/api' is used for same-origin routing. Do NOT set to 127.0.0.1 or localhost.


# Stripe Payments
# More info: https://stripe.com/docs/payments/accept-a-payment
STRIPE_PUBLIC_KEY=key_goes_here
STRIPE_SECRET_KEY=key_goes_here

# Stripe Terminal/CLI
STRIPE_SIGNING_SECRET=key_goes_here

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URLLL="mongodb+srv://_______:_____@cluster0.kydug.mongodb.net/___?retryWrites=true&w=majority"
DATABASE_URLl="mongodb+srv://________:_____@cluster0.kydug.mongodb.net/____?retryWrites=true&w=majority"
DATABASE_URL="mongodb://127.0.0.1:27017/SALESMANDB?authSource=admin&&directConnection=true"
#DATABASE_URL="mongodb+srv://akinyisafiris:akinyisafiris@cluster0.giscxx0.mongodb.net/HobbyHorseDB?retryWrites=true&w=majority"
#DATABASE_URL=mongodb+srv://akinyisafiris:wWXjk2AxsaUAft8A@cluster0.giscxx0.mongodb.net/HobbyHorseDB?retryWrites=true&w=majority
#"mongodb://localhost:27017/"
#"mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/mydb?retryWrites=true&w=majority"

#Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=____
NEXT_PUBLIC_CLOUDINARY_API_KEY=___
NEXT_PUBLIC_CLOUDINARY_API_SECRET= ____

process.env.JWT_SECRET=______________


clientsecret=GOCSPX-_____________
clientId="892462548153-__________.apps.googleusercontent.com"
refreshToken= "1//_____-L9Ir1IdZ5DEmvckfZj0iVDnSXKGu3xCzEWgiv3ym_1OTsrUEYmxrAcFBUqTM5A1s1MawfGE",
accessToken= "ya29.a0Ael9sCPFVYgEqghPY________________iVtfHNJdK3_R0vS9s9VTGPoOoN4w_uAESFSKIN8I0ngkz2EinrznSV_poV_8cL6JxZPg8bOP_________________",
      
AACCESS_KEY_ID=AKIA______
ASECRET_ACCESS_KEY=fA6B+______________
AREGION=us-east-1
AS3_BUCKET_NAME=_____

# Authentication
# Need to add Authorized redirect URIs to Google Cloud OAuth Service
# http://localhost:3000/api/auth/callback/google or https://your.deployment.url.com/api/auth/callback/google
GOOGLE_CLIENT_ID=966378031758-_____________.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-fA_K3_wup_________SsV0
FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
APPLE_CLIENT_ID=your_apple_client_id
APPLE_CLIENT_SECRET=your_apple_client_secret
EMAIL_SERVER=smtp://your_smtp_server
EMAIL_FROM=your_email@example.com


# mongod --replSet "rs0" --bind_ip localhost